# Git mailmap file
# This file maps different email addresses and names to canonical identities

# Abdulwaisa Al Nuaimi
Abdulwaisa Al Nuaimi <alnymybdalwas1@gmail.com> Abdulwaisa <alnymybdalwas1@gmail.com>
